@import "var"

.button
  padding: 17px 35px
  background-color: $blue
  color: $white
  text-transform: uppercase
  border-radius: 30px
  border: none
  max-width: 280px
  text-align: center

.button_orange
  background-color: $orange

