@import "var"
@import "button"
@import "have-any-questions"
@import "input-text"

.main
  position: relative

.header
  min-height: 277px
  background-image: url(../img/bg_mobile.png)
  background-repeat: no-repeat
  background-size: cover

.nav
  display: none

.think-what-to-send
  padding-bottom: 27px

.container_think-what-to-send
  display: flex
  flex-direction: column


.think-what-to-send__title
  margin-bottom: 0
  margin-top: 22px
  font-size: 2rem
  font-weight: 900

.think-what-to-send__sub-title
  margin: 24px 0
  font-size: 1.5rem
  font-weight: 700

.popup-menu
  display: none
  position: absolute
  top: 0
  left: 0
  width: 100%
  background-color: $white
  padding-top: 15px

.popup-menu_visible
  display: block

.popup-menu__heading
  display: flex
  justify-content: space-between
  align-items: center

.popup-menu__nav
  list-style: none

.popup-menu__nav-link
  text-decoration: none
  font-size: 1.125rem
  color: #000


.popup-menu__nav-el
  margin: 25px 0

.popup-menu__socials
  display: flex
  justify-content: space-between
  margin: 20px 0



@import "media"