@import "var"

@media screen and (min-width: 768px)
  .header
    min-height: 415px
    background-image: url(../img/bg_tablet.jpg)
    background-repeat: no-repeat

  .nav
    background-image: none
    min-height: auto
    align-items: center
    &__burger-btn
      display: none
    &__list
      display: flex
      justify-content: space-between
      list-style: none
      width: 100%
      margin: 0
    &__link
      color: $white
      text-decoration: none
      font-size: 0.875rem
      font-weight: 400



  .heading
    color: $white
    max-width: 400px
    &__title
      font-size: 2.75rem
      font-weight: 900
    &__subtitle
      font-size: 1.75rem
      font-weight: 700
