@import "var"

@media screen and (min-width: 768px)
  .container
    width: 768px
  .header
    min-height: 415px
    background-image: url(../img/bg_tablet.jpg)
    background-repeat: no-repeat
    background-size: cover
  .nav
    align-items: center
    &_header
      padding: 27px 35px
      min-height: auto
      background-image: none

    &__burger-btn
      display: none

    &__list
      display: flex
      justify-content: space-between
      list-style: none
      width: 100%
      margin: 0

    &__link
      color: $white
      text-decoration: none
      font-size: 0.875rem
      font-weight: 400
  .heading
    color: $white
    max-width: 400px
    padding: 27px 35px

    &__title
      font-size: 2.75rem
      font-weight: 900

    &__subtitle
      font-size: 1.75rem
      font-weight: 700
  .description
    padding: 25px 34px 51px
    background-image: url(../img/description-bg-tablet.svg)
    background-position-x: 336px
    background-position-y: 73px

    &__heading
      margin: 0
      font-size: 2.25rem
      font-weight: 700

    &__text
      max-width: 280px
      margin-top: 25px
      margin-bottom: 35px
      font-size: 0.875rem
      font-weight: 400

  .steps
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    padding: 38px 54px
    max-width: 768px
    margin: 0 auto
    &__step
      width: 278px

  .send
    padding: 30px 35px
    display: flex
    justify-content: space-between
    align-items: center
    &__text
      font-size: 1.75rem

  .button_send
    margin-top: 0

  .call
    padding: 30px 35px 14px
    display: flex
    justify-content: space-between
    &__form-input
      max-width: 280px
    &__text-subtitle
      margin-bottom: 0

  .call__form-input,
  .button_call
    height: 48px



  .footer
    padding: 0 35px

  .footer__form
    padding-top: 33px
    flex-direction: row
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

  .form__heading
    width: 220px
    font-size: 1.25rem


  .footer__phone
    width: 220px
    box-sizing: border-box

  .button_footer
    font-size: 1rem
    height: 40px
    width: 220px
    padding: 0 15px
    font-weight: 700

  .footer__phone,
  .button_footer,
  .footer__checkbox-container
    margin: 0

  .footer__checkbox-container
    margin: 13px auto

  .nav__link_footer
    color: black




@media screen and (min-width: 1200px)
  .container
    width: 1440px
  .header
    min-height: 525px
    background-image: url(../img/bg_desktop.jpg)
    background-repeat: no-repeat
  .nav_header
    padding: 30px 140px

    &__list
      padding-left: 140px

    &__link
      font-size: 1.125rem
      font-weight: 400
      transition: font-weight 0.3s

    &__link:hover
      font-weight: 700
  .heading
    max-width: 400px
    padding: 88px 0 0 140px
  .logo__img
    width: 140px
    height: 46px
  .button
    max-width: 360px

    &:hover
      box-shadow: 0 0.25rem 0.938rem rgba(27, 170, 235, 0.45)
  .description
    padding: 95px 140px 98px
    background-image: url(../img/description-bd-desktop.svg)
    background-position-x: 640px
    background-position-y: center
    &__heading
      font-size: 2.25rem
      font-weight: 700
      max-width: 460px
    &__text
      font-size: 1rem
      max-width: 438px

  .steps
    max-width: 1062px
    padding: 68px 140px
    &__step
      width: 462px
    &__step-img
      width: 462px

  .send
    padding: 70px 140px
    &__text
      font-size: 2.25rem

  .call
    padding: 70px 140px 40px
    display: flex
    justify-content: space-between
    &__form-input
      max-width: 420px
    &__text-title
      font-size: 2.25rem
    &__text-subtitle
      font-size: 1.5rem





  .footer
    padding: 35px 140px

  .footer__phone,
  .button_footer
    width: 362px
    height: 50px

  .form__heading
    font-size: 2.25rem
    font-weight: 700
    width: 401px


  .nav__link_footer
    font-size: 1.125rem
    font-weight: 400





