@import "var"

.header
  background-image: url(../img/bg_small.jpg)
  background-repeat: no-repeat
  background-size: contain
  min-height: 505px
  padding: 25px 20px

.nav__list
  display: none
  list-style: none

  &-el
    padding: 0 5px

.nav__link
  text-decoration: none
  font-size: 0.875rem


.nav
  display: flex
  justify-content: space-between

.send
  margin: 90% auto 0

.send__heading
  font-size: 2rem
  text-transform: uppercase

.send__subtitle
  font-size: 1.5rem
  font-weight: 700

.send__btn
  padding: 17px 35px
  background-color: $blue
  color: $white
  text-transform: uppercase
  border-radius: 30px
  border: none
  min-width: 278px
  text-align: center


@import "media"