@import "var"

.header
  background-image: url(../img/bg_small.jpg)
  background-repeat: no-repeat
  background-size: contain
  min-height: 505px
  padding: 25px 20px

.nav__list
  display: none
  list-style: none
  &-el
    padding: 0 5px

.nav__link
  text-decoration: none
  font-size: 0.875rem


.nav
  display: flex
  justify-content: space-between


@import "media"