.button {
  outline: none;
  border-radius: 1.875rem;
  border: 1px solid transparent;
  background-color: #008DCD;
  color: #ffffff;
  text-transform: uppercase;
  min-height: 48px;
  font-size: 1rem;
  font-weight: 700;
}

.have-any-questions {
  display: flex;
  flex-direction: column;
}

.input-text_have-any-questions {
  margin-bottom: 20px;
}

.popup-menu__checkbox-cont {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.popup-menu__checkbox-label {
  font-size: 0.625rem;
  color: #9E9E9E;
}

.input-text {
  outline: none;
  box-sizing: border-box;
  min-height: 48px;
  border-radius: 1.875rem;
  border: 1px solid black;
  padding: 0 15px;
  color: #363636;
  font-size: 0.875rem;
}

.main {
  position: relative;
}

.header {
  min-height: 277px;
  background-image: url(../img/bg_mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: none;
}

.think-what-to-send {
  padding-bottom: 27px;
}

.container_think-what-to-send {
  display: flex;
  flex-direction: column;
}

.think-what-to-send__title {
  margin-bottom: 0;
  margin-top: 22px;
  font-size: 2rem;
  font-weight: 900;
}

.think-what-to-send__sub-title {
  margin: 24px 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.popup-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding-top: 15px;
}

.popup-menu_visible {
  display: block;
}

.popup-menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-menu__nav {
  list-style: none;
}

.popup-menu__nav-link {
  text-decoration: none;
  font-size: 1.125rem;
  color: #000;
}

.popup-menu__nav-el {
  margin: 25px 0;
}

.popup-menu__socials {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.button {
  outline: none;
  border-radius: 1.875rem;
  border: 1px solid transparent;
  background-color: #008DCD;
  color: #ffffff;
  text-transform: uppercase;
  min-height: 48px;
  font-size: 1rem;
  font-weight: 700;
}

.have-any-questions {
  display: flex;
  flex-direction: column;
}

.input-text_have-any-questions {
  margin-bottom: 20px;
}

.popup-menu__checkbox-cont {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.popup-menu__checkbox-label {
  font-size: 0.625rem;
  color: #9E9E9E;
}

.input-text {
  outline: none;
  box-sizing: border-box;
  min-height: 48px;
  border-radius: 1.875rem;
  border: 1px solid black;
  padding: 0 15px;
  color: #363636;
  font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  .main {
    background-image: url(../img/bg_tablet.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 413px;
  }

  .header {
    min-height: 0;
  }

  .container {
    max-width: 1024px;
    padding: 0 35px;
  }
  .container_header {
    align-items: center;
    padding-top: 27px;
  }

  .header {
    background-image: none;
  }

  .logo_header {
    margin-right: 20px;
  }

  .nav {
    display: block;
    width: 100%;
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .nav__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 400;
  }

  .burger {
    display: none;
  }

  .think-what-to-send {
    max-width: 405px;
    margin-left: 35px;
  }

  .container_think-what-to-send {
    margin: 0;
    padding: 0;
  }

  .think-what-to-send__title {
    font-size: 2.75rem;
    font-weight: 900;
    color: #ffffff;
    margin-top: 57px;
  }

  .think-what-to-send__sub-title {
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 700;
  }

  .button,
.input-text {
    max-width: 280px;
  }
}
@media screen and (min-width: 1440px) {
  .main {
    min-height: 525px;
    background-image: url(../img/bg_desktop.png);
  }

  .container {
    max-width: 1160px;
  }

  .think-what-to-send {
    max-width: 730px;
    margin-left: 140px;
  }

  .think-what-to-send__title {
    margin-top: 87px;
    font-size: 3rem;
  }

  .think-what-to-send__sub-title {
    margin-top: 38px;
    margin-bottom: 49px;
    font-size: 2.25rem;
  }

  .button,
.input-text {
    max-width: 360px;
  }
}
.button {
  outline: none;
  border-radius: 1.875rem;
  border: 1px solid transparent;
  background-color: #008DCD;
  color: #ffffff;
  text-transform: uppercase;
  min-height: 48px;
  font-size: 1rem;
  font-weight: 700;
}

.have-any-questions {
  display: flex;
  flex-direction: column;
}

.input-text_have-any-questions {
  margin-bottom: 20px;
}

.popup-menu__checkbox-cont {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.popup-menu__checkbox-label {
  font-size: 0.625rem;
  color: #9E9E9E;
}

.input-text {
  outline: none;
  box-sizing: border-box;
  min-height: 48px;
  border-radius: 1.875rem;
  border: 1px solid black;
  padding: 0 15px;
  color: #363636;
  font-size: 0.875rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 425px;
  padding: 0 20px;
}
.container_header {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.button {
  outline: none;
  border-radius: 1.875rem;
  border: 1px solid transparent;
  background-color: #008DCD;
  color: #ffffff;
  text-transform: uppercase;
  min-height: 48px;
  font-size: 1rem;
  font-weight: 700;
}

.have-any-questions {
  display: flex;
  flex-direction: column;
}

.input-text_have-any-questions {
  margin-bottom: 20px;
}

.popup-menu__checkbox-cont {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.popup-menu__checkbox-label {
  font-size: 0.625rem;
  color: #9E9E9E;
}

.input-text {
  outline: none;
  box-sizing: border-box;
  min-height: 48px;
  border-radius: 1.875rem;
  border: 1px solid black;
  padding: 0 15px;
  color: #363636;
  font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  .main {
    background-image: url(../img/bg_tablet.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 413px;
  }

  .header {
    min-height: 0;
  }

  .container {
    max-width: 1024px;
    padding: 0 35px;
  }
  .container_header {
    align-items: center;
    padding-top: 27px;
  }

  .header {
    background-image: none;
  }

  .logo_header {
    margin-right: 20px;
  }

  .nav {
    display: block;
    width: 100%;
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .nav__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 400;
  }

  .burger {
    display: none;
  }

  .think-what-to-send {
    max-width: 405px;
    margin-left: 35px;
  }

  .container_think-what-to-send {
    margin: 0;
    padding: 0;
  }

  .think-what-to-send__title {
    font-size: 2.75rem;
    font-weight: 900;
    color: #ffffff;
    margin-top: 57px;
  }

  .think-what-to-send__sub-title {
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 700;
  }

  .button,
.input-text {
    max-width: 280px;
  }
}
@media screen and (min-width: 1440px) {
  .main {
    min-height: 525px;
    background-image: url(../img/bg_desktop.png);
  }

  .container {
    max-width: 1160px;
  }

  .think-what-to-send {
    max-width: 730px;
    margin-left: 140px;
  }

  .think-what-to-send__title {
    margin-top: 87px;
    font-size: 3rem;
  }

  .think-what-to-send__sub-title {
    margin-top: 38px;
    margin-bottom: 49px;
    font-size: 2.25rem;
  }

  .button,
.input-text {
    max-width: 360px;
  }
}

/*# sourceMappingURL=style.css.map */
